<div class="about_div">
<h3>Sobre nosotros</h3>
<hr>
<p>Somos un centro médico quirúrgico privado en el que encontrará la tecnología más avanzada y una alta cualificación técnica y profesional. Hospital BuenaSalud cubre prácticamente todas las especialidades médicas con una prioridad: ofrecer a nuestros pacientes la máxima calidad asistencial. El compromiso de nuestro equipo, el modelo de gestión y nuestros resultados nos avalan. En HPS, su salud es lo primero.</p>

<p>El Hospital fue fundado en 1959 respondiendo a una demanda asistencial de Cirugía, Obstetricia y Urgencias, y en la actualidad se ha convertido en uno de los mayores hospitales privados del País, con más de 189.000 consultas anuales y cerca de 250.000 casos clínicos.</p>
    
<p>Nuestras instalaciones están ubicadas en el centro de Las Palmas de Gran Canaria en cuatro edificios contiguos de ocho plantas. Cuenta con 195 camas y Servicio de Urgencias 24 horas, incluyendo Urgencias Pediátricas, Traumatológicas y UMI llevada por Intensivistas.</p>

<p>Nuestros servicios van dirigidos a pacientes privados, asegurados de todas las compañías y tenemos concierto con el Servicio Canario de la Salud. La familia HPS la conforman más de 200 médicos y profesionales y en nuestras dependencias se realizan más de 11.000 intervenciones.</p>
    
<p> Hospital BuenaSalud está calificado en el Grupo VI, Nivel III de la Calificación de Hospitales establecida por el Gobierno de la Nación en Resolución de mayo de 1980, siendo esta la máxima calificación para un hospital privado en Canarias.</p>    
    
</div>   
 