<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
    </head>

    <body>
        <header id="hospital_header">
            <h1>{{title}}</h1><br>
            <h2>{{subtitle}}</h2><br>
            <img class="img_logo" title="hospital logo" alt="hospital logo" src="./assets/logo.png">
        </header>

        <div class="nav-title">
          <h1>Descubre más sobre nosotros</h1>
        </div>
        <nav class="links">
          <a routerLink="/home" routerLinkActive="active">Home</a>&nbsp;
          <a routerLink="/patients" routerLinkActive="active">Pacientes</a>&nbsp;
          <a routerLink="/specialties" routerLinkActive="active">Especialidades</a>&nbsp;
          <a routerLink="about" routerLinkActive="active">Sobre nosotros</a>&nbsp;
        </nav>

        <router-outlet></router-outlet>
 
    </body>   
    
</html>


